<phpunit colors="true"
         bootstrap="vendor/autoload.php"
         syntaxCheck="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Toggable">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
